*{
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

body {
    margin: 0;
    background: url(../img/img_login_paciente.jpg);
    background-repeat:no-repeat;
    /*background-attachment: fixed;*/
    background-size:120%;
    /*background-attachment:initial;*/
}
.contenedor{
    width: 100%;
    padding: 10px;
}
.formulario-login{
    position: absolute;
    left:15%;
    background: #fff;
}
.formulario-registro{
    position: absolute;
    left:15%;
    background: #fff;
    padding: 0%;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
select{
    align-items: center;
    text-decoration: none;
    color:  #999;
    font-size: 120%;
}
legend{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
    font-size: 120%;
}
.input{
    color: #1a2537;
    font-size: 120%;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 70%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
input[type="radio"]{
    width: 20px;
    height: 20px;
}
li{
    list-style-type:disc;
    margin-left: 3%;
    text-align: left;
    font-size: x-large;
}

p{
    margin-left: 3%;
    text-align: left;
    font-size: x-large;
}
.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}
.link:hover{
        color: cadetblue;
}
@media(min-width:700px)
{
    .formulario-login{
        margin: auto;
        width: 500px;
        margin-top: 50px;
        border-radius: 2%;
    }
    .formulario-registro{
        margin: auto;
        width: 700px;
        margin-top: 5px;
        border-radius: 2%;
    }
}




























