*{
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

body {
    /*background: url(img/cover.jpg);*/
    background-color: #efefef;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:100%;
    background-attachment:initial;
}
.contenedor-imagen{
    text-decoration-color: #1a2537;
    text-align: center;
    width: 50%;
    height: 100%;
    padding: 10px;
}
img{
    margin-left: 5%;
    width: 200px;
    overflow:auto;
}
.contenedor-id{
    font-weight: bold;
    text-decoration-color: #1a2537;
    margin-left: 8%;
    width: 35%;
    height: 100%;
    padding: 30px;
    border: 3px solid #1a2537;
}

.contenedor-citas-pendientes{
    position:relative;
    top: -600px;
    left: 60%;
}
.contenedor-historial-citas{
    position:relative;
    top: -400px;
    left: 60%;    
}
.contenedor-historia-clinica{
    position: relative;
    top:10px;
    left:60;
    width: 700px;
    height: 700px;
}
#textarea{
    width: 500px;
    height: 500px;
}
.button{
    margin-top: 2%;
    margin-left: auto;
    border: none;
    width:auto;
    color: white;
    font-size: 20px;
    /*font-weight: bold;*/
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#botonhclinica{
    width:300px;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    border-radius: 5px;
    cursor: pointer; 
    position: relative;
    top: 10px;
    right: -100px;
}

.button:hover{
    background: cadetblue;
}
table{   
    margin-left: -5%;
    width:500px;
    text-align:center;
    background-origin: padding-box;
    box-sizing: content-box;
    border-collapse: collapse;    
}
th, td{
    border: 2px solid #1a2537;
   
}

caption{
    text-align: center;
    font-weight: bold;
    border-top: 2px solid #1a2537;
    border-left: 2px solid #1a2537;
    border-right: 2px solid #1a2537;
}
*{
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

body {
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.titulo {
    color: var(--color-primary);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header {
    width: auto;
    height: 50vh;
    background: #160766e3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(246, 95%, 50%, 0.459), hsla(197, 74%, 50%, 0.664)), url(../img/portada.svg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(239, 53%, 60%, 0.459), hsla(236, 81%, 49%, 0.664)), url(../img/portada.svg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#ebebeb;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 130px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#ebebeb;
}

.textos-header h2{
    font-size: 30px;

    color:#ebebeb;
}

    /*Tabla*/

@import url('https://fonts.googleapis.com/css2?family=Noto+sans&display=swap');
:root
{
    --primary-color: white;
    --secondary-color:rgb(61, 68,73);
    --highlight-color:#3282b8;

    --dt-status-available-color:greenyellow;
    --dt-status-away-color: lightsalmon;
    --dt-status-offline-color: lightgray;

    --dt-padding: 12px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;

    --dt-border-radius: 3px;

    --dt-background-color-container:#2a3338;
    --dt-border-color:var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color: var(--primary-color);
    --dt-bg-active-button: var(--highlight-color);
    --dt-text-color-button: var(--primary-color);
    --dt-text-color-active-button: var(--primary-color);
    --dt-hover-cell-color: var(--highlight-color);
    --dt-even-row-color: var(--secondary-color);
    --dt-focus-color: var(--highlight-color);
    --dt-input-background-color: var(--secondary-color);
    --dt-input-color: var(--primary-color);
}
.material-icons{
    font-size:16px;
}

.datatable-container{
    font-family: 'Noto Sans',sans-serif;
    background-color: var(--dt-background-color-container);
    border-radius: var(--dt-border-radius);
    color: var(--dt-text-color);
    width: 690px;
    margin: 0 auto;
    font-size: 12px;
    position: relative;
    left: 450px;
    bottom: 500px;
}

.datatable{
    font-family: 'Noto Sans',sans-serif;
    background-color: var(--dt-background-color-container);
    border-radius: var(--dt-border-radius);
    color: var(--dt-text-color);
    width: 600px;
    margin: 0 auto;
    font-size: 12px;
    position: relative;
    left: -5px;
    bottom:0px;
}

.datatable-container .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}

.datatable-container .header-tools .search{
    width: 50%;
}

.datatable-container .header-tools .search .search-input{
    width: 100%;
    background-color: var(--dt-input-background-color);
    display: block;
    box-sizing: border-box;
    border-radius: var(--dt-border-radius);
    border: solid ipx var(--dt-border-color);
    color: var(--dt-input-color);
}

.datatable-container .header-tools .tools{
    width:80%;
}
-datatable-container .header-tools .tools ul{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.datatable-container .header-tools .tools ul li{
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
    align-items: baseline;
}

.datatable-container .footer-tools{
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}

.datatable-container .footer-tools .list-items{
    width: 70%;
}

.datatable-container .footer-tools .pages{
    margin-left: auto;
    margin-right: 0;
    width: 70%;
}

.datatable-container .footer-tools .pages ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.datatable-container .footer-tools .pages ul li{
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .header-tools .tools ul li button{
    font-family: 'Noto Sans', sans-serif;
    color: var(--dt-bg-active-button);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: var(--dt-border-radius);
    background: transparent;
    cursor: pointer;
}

.datatable-container .footer-tools .pages ul li button:hover,
.datatable-container .header-tools .tools ul li button:hover{
    background: var(--dt-bg-active-button);
    color: var(--dt-text-color-active-button);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .footer-tools .pages ul li span,
.datatable-container .header-tools .tools ul li button{ 
    padding: var(--dt-padding-s) var(--dt-padding);
}

.datatable-container .datatable{
    border-collapse: collapse;
    width: 100%;
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable tbody tr:nth-child(even){
    background-color: var(--dt-even-row-color);
}

.datatable-container .datatable tbody tr:hover{
    background-color: var(--dt-hover-cell-color);
}

.datatable-container .datatable tbody tr .available::after,
.datatable-container .datatable tbody tr .away::after,
.datatable-container .datatable tbody tr .offline::after{
    display: inline-block;
    vertical-align: middle;
}

.datatable-container .datatable tbody tr .available::after{
    content: 'Available';
    color: var(--dt-status-available-color)
}

.datatable-container .datatable tbody tr .away::after{
    content: 'Away';
    color: var(--dt-status-available-color)
}

.datatable-container .datatable tbody tr .offline::after{
    content: 'Offline';
    color: var(--dt-status-available-color)
}

.datatable-container .datatable tbody tr .available::before,
.datatable-container .datatable tbody tr .away::before,
.datatable-container .datatable tbody tr .offline::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.datatable-container .datatable tbody tr .available::before{
    background-color: var(--dt-status-available-color);
}
.datatable-container .datatable tbody tr .away::before{
    background-color: var(--dt-status-away-color);
}
.datatable-container .datatable tbody tr .offline::before{
    background-color: var(--dt-status-offline-color);
}



/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ebebeb;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #ebebeb;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ebebeb;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:1000px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: auto;
    }


    /* Footer */

    .contenedor-footer
    {
        flex-direction: column;
        border: none;
    }

    .content-foo
    {
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4
    {
        border: none;
    }

    .content-foo p
    {
        color: #ccc;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 20px;
    }

    .titulo-final
    {
        font-size: 20px;
    }
}