<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Registro</title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename = '../static/css/estiloPaciente.css')}}">
</head>
<body>
    <form class="principal-paciente">
        <div class="contenedor">
            <div class="contenedor-imagen">
                <h1>Brad Pitt</h1>
                <img src="{{ url_for('static', filename = 'img/fotico.jpg')}}">
            </div>
            <div class="contenedor-id">
                <p>Tipo de Identificación:</p>
                <p>Número de Identificación:</p>
                <p>Sexo:</p>
                <p>Edad:</p>
                <p>Teléfono:</p>
                <p>Dirección:</p>
            </div>
            
            <div class="contenedor-citas-pendientes">
            <table>
                <caption>Citas Pendientes</caption>
                <tr>
                    <th>Id Cita</th>
                    <th>Fecha</th>
                    <th>Médico</th>
                    <th>Especialidad</th>
                    <th>Tipo de cita</th>
                </tr>
                <tr>
                    <td>123456</td>
                    <td>20/10/2021</td>
                    <td>Rafael Sevilla</td>
                    <td>Neurologo</td>
                    <td>control</td>
                </tr>
                <tr>
                    <td>123456</td>
                    <td>20/10/2021</td>
                    <td>Rafael Sevilla</td>
                    <td>Neurologo</td>
                    <td>control</td>
                </tr>
                <tr>
                    <td>123456</td>
                    <td>20/10/2021</td>
                    <td>Rafael Sevilla</td>
                    <td>Neurologo</td>
                    <td>control</td>
                </tr>
            </table>

            <input type="submit" value="Solicitar Cita" class="button">
            <input type="submit" value="Cancelar Cita" class="button">
            </div>

            <div class="contenedor-historial-citas">
                <table>
                    <caption>Historial de Citas</caption>
                    <tr>
                        <th>Id Cita</th>
                        <th>Fecha</th>
                        <th>Médico</th>
                        <th>Especialidad</th>
                        <th>Tipo de cita</th>
                    </tr>
                    <tr>
                        <td>123456</td>
                        <td>20/10/2021</td>
                        <td>Rafael Sevilla</td>
                        <td>Neurologo</td>
                        <td>control</td>
                    </tr>
                    <tr>
                        <td>123456</td>
                        <td>20/10/2021</td>
                        <td>Rafael Sevilla</td>
                        <td>Neurologo</td>
                        <td>control</td>
                    </tr>
                    <tr>
                        <td>123456</td>
                        <td>20/10/2021</td>
                        <td>Rafael Sevilla</td>
                        <td>Neurologo</td>
                        <td>control</td>
                    </tr>
                        
                </table>
    
                <input type="submit" value="Solicitar Historia Clínica" class="button">
            </div>
        </div>
</body>
</html>