<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal Medico</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Tipo de letra -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- conexion a css -->
   
    <link rel="stylesheet" href="{{url_for('static', filename = '../static/css/perfilmedico.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = '../static/css/listadecitasF.css')}}">
    <script src="{{url_for('static', filename = '../static/js/perfilmedico.js')}}"></script>


</head>

<body>
    <header>

    <!-- inicio y señal de busqueda -->
        <nav>
            <a href="/inicio" class="btn">Inicio</a>
            <a href="/inicio/busqueda" class="btn">
                <i class="fas fa-search"></i>
            </a>
        </nav>
    <!-- Nombre del medico y especialidad -->
        <section class="textos-header">
            <h1>Perfil Medico</h1>
        </section>
    
    <!-- Flow del encabezado -->
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg></div>
    
    </header>
    
    <form class="PrincipalMedico">
        <div class="contenedor">
            <div class="contenedor-imagen">
                <h1>Nombre del Medico</h1>
                <img src="{{url_for('static', filename = '../static/img/imagenmedico.jpg')}}">
            </div>
            <div class="contenedor-id">
                <p>Tipo de Identificación:</p>
                <p>Número de Identificación:</p>
                <p>Sexo:</p>
                <p>Edad:</p>
                <p>Teléfono:</p>
                <p>Dirección:</p>
                <input type="submit" value="Actualizar Informacion" class="button">
            </div>
            
            
            <section class="contenedor-formato-tabla">

                <div class="datatable-container">
                    <div class="header-tools">
                        <div class="tools">
                            <!-- boton check -->
                            <ul>
                                
                                
                                <li>
                                    <p>Fecha Desde</p>
                                    <button>
                                        <input type="date" name="fechainicial" id="fechai">
                                    </button>
                                </li>
                                <li>
                                    <p>Fecha Hasta</p>
                                    <button>
                                        <input type="date" name="fechafinal" id="fechaf">
                                    </button>
                                </li>
                                <li>
                                    <button>
                                        <button type="submit" name="consultar" id="consultar" onclick="validarfecha()" >Consultar
                                    </button>
                                </li>
                            </ul>
                            
                        </div>
        
                        <div class="search">
                            <input type="text" name="" id="" class="search-input">
                        </div>
                    </div>
        
                        <table class="datatable">
                            <thead> 
                                <tr>
                                    
                                    <th class="table-checkbox"> <input type="checkbox" name="" id=""></th>
                                    <th>Id Cita</th>
                                    <th>Paciente</th>
                                    <th class="th">Fecha</th>
                                    <th>Hora</th>
                                    <th>Detalles</th>
                                </tr>
                            </thead>
        
                            <tbody>
                                <tr>
                                    <td class="table-checkbox"> <input type="checkbox" name="" id=""></td>
                                    <td>1234</td>
                                    <td>Rafael Sevilla</td>
                                    <td>10-06-2021</td>
                                    <td>10:00</td>
                                    <td>General</td>
                                    
                                </tr>
        
                                <tr>
                                    <td class="table-checkbox"> <input type="checkbox" name="" id=""></td>
                                    
                                    <td>1234</td>
                                    <td>Rafael Sevilla</td>
                                    <td>10-06-2021</td>
                                    <td>10:00</td>
                                    <td>General</td>
                                    <!-- <td>28</td> -->
                                </tr>  
        
                                <tr>
                                    <td class="table-checkbox"> <input type="checkbox" name="" id=""></td>
                                    
                                    <td>1234</td>
                                    <td>Rafael Sevilla</td>
                                    <td>10-06-2021</td>
                                    <td>10:00</td>
                                    <td>General</td>
                                    <!-- <td>28</td> -->
                                </tr>                     
                            </tbody>
                        </table>
                        
                <input type="button" value="Ver detalle Cita" class="button" onclick="location='/Users/Kelly/html/proyecto ciclo 3/perfil-medico/detallecitamedico.html'" >
            </div>
        </div>
    </form>
</body>
<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Phone</h4>
            <p>........</p>
        </div>
        <div class="content-foo">
            <h4>Email</h4>
            <p>.......</p>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <p>......</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; Team 5 Cliclo 3 | Mision Tic</h2>
</footer>
</html>