* {
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}


ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #64b1f0;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 12%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #457bf0;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

.calendar{
    width:75%;
}

.general-view{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.day-view{
    display: flex;
    position: relative;
    justify-content: center;
    top: 0px;
    width: 40%;
    flex-direction: column;
    
}

.day-view h1{
    display: flex;
    font-size: 2vw;
    justify-content: center;
}


.day-view ul{
    padding:0;
}
.day-view ul li{
    width: 80%;
    position: relative;
    left: 25px;
    padding: 5%;
}


/*
css para ayuda
*/

.page-ayuda{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: #c1daf3;
}

.preguntas{
    width: 70%;
    height:2rem;
    font-size:1rem;
    color:#f0f0f0;
    background-color: #dab0f3;
}


.links-ayuda{
    width: 100%;
    padding:1rem;
    justify-content: left;
}


